* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    max-width: 1200px;
    margin: 0 auto;
    background: #121212e3;
    scroll-behavior: smooth;
}

.language_img:hover {
    transform: scale(1.1);
}

.burger__menu--link {
 text-decoration: none;
 color: inherit;
}